@import "_variables.scss";
@import "_mixins.scss";

.date {
  font-family: "Roboto", sans-serif;
  display: block;
  box-sizing: border-box;
  height: $inp-h;
  // line-height: $inp-h;
  padding: 20px 0;
  font-size: 2.6rem;
  outline: none;
  @include box-style;
  margin-bottom: $inp-marg-bot;

  &::-webkit-clear-button {
    display: none;
  }
  &--smaller {
    height: 55px;
    padding: 15px 0;
    font-size: 2rem;
    line-height: 55px;
    margin: 20px 0;
    &:invalid {
      position: relative;
      user-select: none;
      &::after {
        content: "Wybierz dzień";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #757575;
        font-size: 2rem;
        @include mq($medium-w) {
          content: none;
        }
      }
    }
  }
}
