@import "_variables.scss";
@import "_mixins.scss";

.input {
  &__container {
    text-align: center;
  }
  &__label {
    @include label;
  }
}

.date {
  font-family: "Roboto", sans-serif;
  display: block;
  box-sizing: border-box;
  height: $inp-h;
  padding: 20px 0;
  font-size: 2.6rem;
  outline: none;
  @include box-style;
  margin-bottom: $inp-marg-bot;

  &::-webkit-clear-button {
    display: none;
  }
  &--smaller {
    height: 55px;
    padding: 15px 0;
    font-size: 2rem;
    line-height: 55px;
    margin: 10px 0 20px;
    &:invalid {
      position: relative;
      user-select: none;
    }
  }
}
