@import "./variables";

$ratio: 0.3;

input[type="checkbox"],
label {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.checkbox {
  display: none;

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    cursor: pointer;

    &:active > &__wrapper {
      transform: translateY(-50%) scale(0.9);
    }
  }

  &__wrapper {
    position: relative;
    width: 100px * $ratio;
    height: 100px * $ratio;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f72414;
    border-radius: 50%;

    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    z-index: 1;
  }

  &__label-text {
    margin-left: 15px;
    font-size: 2rem;
    color: #fff;
  }

  &__cross {
    position: absolute;
    top: -1px * $ratio;
    top: 50%;
    left: 50%;
    width: 60px * $ratio;
    height: 60px * $ratio;
    margin: 0 auto;
    transform: translate(-50%, -50%) rotateZ(-45deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;

      top: 50%;
      left: 50%;
      width: 100%;
      height: 10px * $ratio;
      transform: translate(-50%, -50%);

      border-radius: 2px;
      opacity: 1;
      transition: 0.2s ease transform, 0.2s ease opacity;
    }

    &::after {
      transform: translate(-50%, -50%) rotateZ(270deg);
    }
  }

  &__tick-mark {
    position: absolute;
    top: -1px * $ratio;
    right: 0;
    left: 0;
    width: 60px * $ratio;
    height: 60px * $ratio;
    margin: 0 auto;
    margin-left: 14px * $ratio;
    transform: rotateZ(-40deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      opacity: 0;
      transition: 0.2s ease transform, 0.2s ease opacity;
    }

    &::before {
      left: 0;
      bottom: 0;
      width: 10px * $ratio;
      height: 30px * $ratio;
      transform: translateY(-68px * $ratio);
    }

    &::after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10px * $ratio;
      transform: translateX(78px * $ratio);
    }
  }

  &:checked + &__label > &__wrapper {
    background-color: #07d410;
  }

  &:checked + &__label > &__wrapper {
    &:before {
      width: 0;
      height: 0;
    }
  }
  &:checked + &__label > &__wrapper > &__cross {
    &::before,
    &::after {
      opacity: 0;
    }

    &::before {
      transform: translate(78px * $ratio);
    }
    &::after {
      transform: translate(-78px * $ratio, -78px * $ratio) rotateZ(270deg);
    }
  }
  &:checked + &__label > &__wrapper > &__tick-mark {
    &::before,
    &::after {
      transform: translate(0);
      opacity: 1;
    }
  }
}
