@import "./_mixins";
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  height: 5vh;
  max-height: 60px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1;
  &--blurred {
    filter: blur(2px);
  }
  &__menu {
    width: 50%;
    max-width: 300px;
    height: 100%;
    margin-left: auto;
    &-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      list-style: none;
    }
    &-item {
      -webkit-tap-highlight-color: transparent;
      margin-right: 8px;
      @include mq(768px) {
        margin-right: 20px;
      }
      &-link {
        display: block;
        height: 30px;
        width: 30px;
        padding: 10px;
        &--sign-out {
          border: none;
          background-color: transparent;
          box-sizing: content-box;
          cursor: pointer;
        }
      }
    }
    &-logo {
      height: 100%;
      width: 100%;
    }
  }
}
