//Font
$html-fz: 10px;
$web-font: "Roboto", sans-serif;
$title-fz: 2.5rem;
$higher-title-fz: 3rem;
$label-fz: 2.6rem;
$result-fz: 3.2rem;

//Colors
$main-color: #334e6c;
$nav-color: #ffc728;
$nav-hover-color: #a9b4c2;
$arr-color: #777;

$yes-btn-color: #169d50;
$no-btn-color: #c0392b;
$reset-btn-color: #f4b400;
$send-btn-color: #8bb538;

//Dimensions
$inp-h: 75px;
$inp-marg-bot: 20px;

$btn-bgc: rgba(0, 0, 0, 0.4);
$btn-h: 60px;

$cont-h: 15vh;
$cont-minh: 75px;
$cont-maxh: 150px;
$cont-marg-top: 10px;

$flexwrap-marg-bot: 30px;

//MEDIA QUERY RESOLUTIONS
$pop-w: 360px;
$small-w: 415px;
$medium-w: 768px;
$desktop-w: 1024px;
