//Font
$html-fz: 10px;
$web-font: 'Roboto',
sans-serif;

//Dimensions
$btn-bgc: rgba(0, 0, 0, .4);
$btn-h: 60px;
$arr-color: #777;

$cont-marg-top: 20px;
$cont-h: 15vh;
$cont-minh: 75px;
$cont-maxh: 150px;

//MEDIA QUERY RESOLUTIONS
$small-w: 414px;
$pop-w: 360px;