// RESET
* {
    margin: 0;
    padding: 0;
}

@import '_variables.scss';
@import '_mixins.scss';

html {
    font-size: $html-fz;
}

body {
    font-family: $web-font;
}

.now-section {
    height: 100vh;
    text-align: center;

    @include mq($small-w) {
        height: auto;
    }

    .title-header {
        width: 100%;

        .title {
            @include title-txt;
            background-color: $btn-bgc;
            padding: 15px 0;
        }
    }

    .center {
        @include pos-abs-cen;

        @include mq($small-w) {
            position: static;
            top: auto;
            left: auto;
            transform: none;
        }
    }
}

.next-days-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.container {
    position: relative;
    height: $cont-h;
    @include box-style;

    &.main {
        height: 150px;
    }

    .result {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-weight: bold;
        font-size: 3.2rem;
        text-transform: uppercase;
        text-align: center;

        &.day {
            color: #e67e22;
        }

        &.night {
            color: #2980b9;
        }

        &.day-off {
            color: #169d50;
        }

        &.no-data {
            color: #c0392b;
        }
    }
}