@import '_variables.scss';
@import '_mixins.scss';

.date {
    display: block;
    box-sizing: border-box;
    height: $inp-h;
    // line-height: $inp-h;
    padding: 20px 0;
    font-size: 2.6rem;
    outline: none;
    @include box-style;
    margin-bottom: $inp-marg-bot;
}